{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/css/address_style.css">
{% endblock %}

{% block body %}
	<h1>{{ doctor.firstname() }}</h1>	
{% endblock %}