{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/css/address_style.css">
{% endblock %}

{% block body %}
	<h1>Dr.  Thomas A. Anderson (NEO)</h1>
	{{ doctorId.getName() }}
{% endblock %}