{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/css/address_style.css">
{% endblock %}

{% block body %}
	<h1>Add new doctor</h1>
	<div class="cardmedilux">
	{{ form(doctorFormular) }}
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="/js/AddressDoctorAdder.js" type="text/javascript"></script>
{% endblock %}