{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/css/Drugstyle.css">
{% endblock %}

{% block body %}

<div class="datacontainer">
    <a href="{{ path ('drugs_list') }}" class="button">Go Back</a>
    <div id="Drugsform">
    	<h2>Add new Substance</h2>
	{{ form(drugsFormular) }}
    </div>
</div>
{% endblock %}
