{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/css/Drugstyle.css">
{% endblock %}

{% block body %}

<div class="datacontainer">
    <a href="{{ path ('drugs_list') }}" class="button">Go Back</a>
    <div id="Drugsform">
    	<h1>Add new doctor</h1>
	<div class="cardmedilux">
	{{ form(drugsFormular) }}
	</div>
    </div>
{% endblock %}
