{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/css/Drugstyle.css">
{% endblock %}

{% block body %}

<div class="datacontainer">
    <a href="{{ path ('drugs_list') }}" class="button">Go Back</a>
    <div id="Drugsform">
      <form class="" action="index.html" method="post">
        <input type="text" name="Scientific name" value="">
        <input type="text" name="Commercial name(s)" value="">
        <input type="text" name="Producer" value="">
        <input type="text" name="Dosage" value="">
        <input type="text" name="Counter indication(s)" value="">
        <input type="text" name="Side effects" value="">
        <input type="text" name="Incompatibilities" value="">
        <input type="text" name="Overdose" value="">
        <input type="text" name="Composition" value="">
        <input type="submit" name="Add to DB" value="">
      </form>
      </div>
{% endblock %}
