
.datacontainer {
  min-height: calc(100vh - 116px);
  padding: 50px;
  background-color: #507cbe;
  color: black;
}

.datacontainerbtngrp {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}
.cardmedilux{
  border-radius: 10px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  padding: 20px;
}

/*doctors modal*/
#doctormodal div{
  display: flex;
  align-items: center;
}
#doctormodal div h1,h2{
  text-align: center;
  color: white;
}
#doctormodal{
  background-color: rgb(80, 124, 190);
}
