
.cardmedilux{
  border-radius: 10px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.datacontainer {
  min-height: calc(100vh - 116px);
  padding: 50px;
  background-color: #507cbe;
  color: black;

}

.datacontainerbtngrp {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}
