#Drugsearch{
left: 100px;
display: flex;
width: 250px;
margin: 25px;
padding: 25px;
}
#Drugsform{
margin: 25px;
padding: 10px;
width: calc( 80vw - 50px);
}
#Drugslist{
display: flex;

}
.button{
  position: static;
  height: 80px;
  width:  100px;
  border-radius: 5px;
  background-color: #323232;
  color: #b2b2b2;
  padding: 15px;
  left: 100px;
}
