{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
<link rel="stylesheet" type="text/css" href="/css/style_nath.css">
{% endblock %}

{% block body %}

	<div class="container tm-5">
		<p class="bg-warning p-1 b-warning">
			{{ 'ADD_PRODUCT.INFO'|trans }}
		</p>
		
		<div class="container-fluid tm-5 bm-5">
            {{ form(patientCreationFormular) }}
        </div>
	</div>

{% endblock %}