{% extends 'base.html.twig' %}

{% block body %}
<div class="datacontainer">

	
		
	<h4>Administration Main</h4>
	<div class="table-responsive">
	<table class="table table-dark table-striped table-bordered table-hover">
		    <tr>
                <td>Version</td>
    			<td>MediLux v0.5.1</td>
            </tr>

	</table>
</div>
	<br/><br/>
	<h4>Fi4Coding Project - Developers</h4>
	<div class="table-responsive">
	<table class="table table-dark table-striped table-bordered table-hover">
		    <tr>
                <td>Norbert Szekeres</td>
    			<td>Address Book Module - Live Search Script - Security Officer</td>
            </tr>
            <tr>
                <td>Nathalie Montois</td>
    			<td>Patient Module - Database Admin</td>
            </tr>
            <tr>
                <td>Laurent de Cugnac</td>
    			<td>Drugs Module</td>
            </tr>
            <tr>
                <td>Nadia Mimtchioui</td>
    			<td>Search Patient Module</td>
            </tr>
            <tr>
                <td>Frank Schroeder</td>
    			<td>Project Idea - Administration Module - Base Twig Template</td>
            </tr>
	</table>
	</div>
	
		<br/><br/>
	<h4>Alpha 1 - Developer(s)</h4>
	<div class="table-responsive">
	<table class="table table-dark table-striped table-bordered table-hover">
		    <tr>
                <td>Frank Schroeder</td>
    			<td>Next steps after the Fit4Coding Project</td>
            </tr>

	</table>
	</div>
	
</div>
{% endblock %}