<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta property="og:title" content="MediLux Demo">
        <meta property="og:type" content="article">
        <meta property="og:url" content="https://demo.medilux.doctor">
        <meta property="og:image" content="">
        <meta property="og:description" content="MediLux Demo">
        <meta property="fb:admin" content="">
        
        <title>{% block title %}MediLux{% endblock %}</title>
        
        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.min.css">
        {% endblock %}
        
    </head>

<body>
        {% block header %}
        	{% include 'header.html.twig' %}
        {% endblock %}

        {% block body %}



        <div class="datacontainer">
        	<img src="/images/choosing-a-doctor.png" alt="Choosing a doctor">
          	<p>Under construction</p>		

        </div>
        {% endblock %}



        {% block javascripts %}

  			<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/v4-shims.js"></script>
            <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script> 			
 			<script src="/js/stickbs4navbar.min.js"></script>
 			<script src="/js/script.js"></script>
 			<script src="search.js"></script>

        {% endblock %}
        
        
        {% block footer %}
        	{% include 'footer.html.twig' %}
        {% endblock %}
</body>

